#navigation{
	left: 0;
	right: 0;
	z-index: 9999;
	background: #fff;
	box-shadow: 0 0 8px 0px rgba(0,0,0,0.5);
	transition: all 0.5s linear;
}
.cart-icon{
	font-size: 25px;
}
.selected{
	/* padding-left: 10px; */
	background-color: #FF5D5D;
	border-radius: 50%;
	width: 37px;
	height: 38px;
	/* color: #fff; */
}
.selected span{
	color: #fff;
}